*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.header{
    width: 100%;
    background: #030712;
}

nav{
    display: flex;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    align-items: center;
    justify-content: space-between;
}

nav img{
    width: 200px;
}

span{
    color: orange;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 30px;
    transition: .4s;
}

nav ul li:hover{
    transform: scale(1.2);
    cursor: pointer;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

nav ul li a:hover{
    color: orange;
}

button{
    border: none;
    background: orange;
    padding: 8px 20px;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
}

button:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.hero-section{
    display: flex;
    width: 100%;
    padding: 96px 108px;
    background: #030712;
}

.hero-text h1{
    font-size: 50px;
    color: #fff;
    padding-bottom: 20px;
}

.hero-text p{
    width: 46%;
    padding-bottom: 20px;
    color: #fff;
    line-height: 25px;
    text-align: justify;
}

.image{
    position: relative;
    right: 20%;
}

.image img{
    width: 350px;
}